:root{
    --background-color:#061321;
    --secundary-color:#3F4753;
    --border-color:#9FA7B2;
    --button-color:#fff7ee;
    --hover-color:#AA7F56;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Caveat", cursive;
}
body{
    background:var(--background-color);
    min-height:100vh;
    padding:20px;
}
/* ========================= */
/* GRID GENERAL */
/* ========================= */

.grid-container{
    display:grid;
    min-height:calc(100vh - 40px);
    gap:20px;
    grid-template-columns:260px 1fr 280px;
    grid-template-rows:100px 1fr 70px;
    grid-template-areas:
    "header header header"
    "menu actions sidebar"
    "footer footer footer";
}

/* ========================= */
/* PANEL GENERAL */
/* ========================= */
.panel{
    background:var(--button-color);
    border-radius:20px;
    padding:25px;
    border:2px solid var(--border-color);
    box-shadow:0 0 20px rgba(255,255,255,0.2);
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* ========================= */
/* HEADER */
/* ========================= */

.header{
    grid-area:header;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--secundary-color);
    color:white;
    font-size:38px;
    font-weight:bold;
    text-align:center;
}

/* ========================= */
/* MENU */
/* ========================= */
.menu{
    grid-area:menu;
    justify-content:flex-start;
    overflow:visible;
}
.menu h2{
    margin-bottom:25px;
    font-size:35px;
}
.menu-list{
    list-style:none;
    width:100%;
}
.menu-list li{
    margin:18px 0;
    cursor:pointer;
    transition:0.3s;
    background:#ececec;
    padding:15px;
    border-radius:12px;
    text-align:center;
    font-size:24px;
}
.menu-list li:hover{
    transform:scale(1.05);
    background:var(--hover-color);
    color:white;
}

/* ========================= */
/* ACTIONS */
/* ========================= */
.actions{
    grid-area:actions;
    overflow-y:auto;
    overflow-x:hidden;
    padding:20px;
    min-height:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.actions > *{
    width:100%;
    max-width:700px;
    text-align: center;

    
}
.actions h2{
    font-size:40px;
    margin-bottom:20px;
    text-align:center;
}

/* ========================= */
/* SIDEBAR */
/* ========================= */
.sidebar{
    grid-area:sidebar;
    justify-content:flex-start;
    overflow:visible;
}
.sidebar h2{
    font-size:35px;
    margin-bottom:25px;
}
/* ========================= */
/* FOOTER */
/* ========================= */
.footer{
    grid-area:footer;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--secundary-color);
    color:white;
    font-size:25px;
}
/* ========================= */
/* INPUTS */
/* ========================= */
input,
select{

    width:80%;
    padding:14px;
    margin:12px 0;
    border-radius:12px;
    border:1px solid gray;
    font-size:22px;
    text-align:center;
}

/* ========================= */
/* BOTONES */
/* ========================= */
button{
    padding:14px 30px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    background:var(--secundary-color);
    color:white;
    margin-top:15px;
    font-size:22px;
    transition:0.3s;
}
button:hover{
    transform:scale(1.05);
    opacity:0.9;
}
/* ========================= */
/* SLOTS */
/* ========================= */
.slot-container{
    margin-top:20px;
    width:100%;
}
.slot-category{
    margin-bottom:35px;
    width:100%;
}
.slot-category h3{
    text-align:center;
    margin-bottom:15px;
    font-size:30px;
}
.slots-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(100px,1fr));
    gap:15px;
}
.slot{
    padding:25px;
    border-radius:15px;
    text-align:center;
    font-weight:bold;
    font-size:22px;
    text-align: center;
}
.free{
    background:#7dff7d;
}
.occupied{
    background:#ff7272;
    color:white;
    text-align: center;
}
/* ========================= */
/* DASHBOARD */
/* ========================= */

.dashboard-box{
    width:100%;
    margin-bottom:20px;
    padding:20px;
    background:#eee;
    border-radius:15px;
    text-align:center;
    font-size:24px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

/*==========================*/
/*OPCIONES DE ESTADISTICAS*/
/*==========================*/
.list-options{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    list-style: none;

}
.list-options li{
    display: flex;
    align-items: center;
    gap: 10px;  
    background-color: #dadada;
    padding: 10px;
    border-radius: 25px;
}
/* ========================= */
/* RESPONSIVE */
/* ========================= */
@media(max-width:900px){
    .grid-container{
        grid-template-columns:1fr;
        grid-template-rows:auto;
        grid-template-areas:
        "header"
        "menu"
        "actions"
        "sidebar"
        "footer";
    }
    .header{
        font-size:28px;
        padding:20px;
    }
    .menu-list li{
        font-size:20px;
    }
    input,select{
        width:100%;
    }
    .dashboard-box{
        max-width:100%;
    }
    .actions{
        overflow:visible;
    }
}